.inline-block{
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
}

.logo{
  max-width: 23px;
  padding: 1%;
  text-align: center;
}

.navigation{
  background-color: lightgray;
}

nav{
  width: 73%;
  padding: 1%;
}

ul{
  width: 90%;
  margin-left: auto;
}


footer{
  background-color: goldenrod;
}

li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  width: 150px;
  height: 25px;
}

<!-- My UX Skills coded using CSS flex-->
#management{
  background-color: crimson;
  text-align: center;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}


.flexContainer{
  display: flex;
  padding: 30px;
  margin: 30px;
  background-color: burlywood;
  flex-direction: row;
  float: left;
  text-align: center;
}

.containerItem{
  width: 33%;
  flex-direction: row
}




.workGrid{
  display: grid;
  padding: 30px;
  margin: 30px;
  background-color: cadetblue;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "icon nonProfit" ;
}
.grid-container{
  display: grid;
  grid-template-areas: "nonProfit fccWebsite foodWaste" ;
}


@media only screen and (max-width: 600){

}







